/*General*/
html,
body {
    font-family: Raleway;

}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decorationNone {
    text-decoration: none;
}

.bordure-none {
    border: none;
}

.back-gris {
    background-color: #f2f2f2;
}

.back-bleu {
    background-color: #0065fc;
}

.color-bleu {
    color: #0065fc;
}

/*Nav*/
.size-nav {
    height: auto;
}

.sizeLiens {
    width: 45%;
}

.size-lien {
    width: 140px;
    height: 99px;
}

.colorLien1 {
    color: blue;
}

.colorLien2 {
    color: black
}

/*Header*/
.bodureSearch {
    width: 400px;
    border-radius: 10px;
}

.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.iconSize {
    height: 50px;
    width: 50px;
}

.padding-search {
    padding-left: 20px;
}

.button-search {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/*Filtre*/
.marge-filtre {
    margin-top: 50px;
    margin-bottom: 40px;
}

.filtre {
    display: flex;
    align-items: center;
}

.marge-filtre-titre {
    margin-right: 20px;
}

.filtre-texte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtre-text-icon {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtre-icon {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    background-color: cornflowerblue;
    height: 52px;
    color: blue;

}

/*INFO*/
.info {
    display: flex;
    align-items: center;

}

.parent-icon {
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 25px;
    margin-right: 5px;
}
/*Hebergement*/
.size-hebergements {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}

.size-populaires {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}

.imgHebergement1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergement2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergement3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergement4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergement5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergement6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.bloc1 {
    margin-bottom: 10px;
}

.bloc2 {
    margin-bottom: 10px;
}